@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
/* Styling for navbar start */
.navbar{
    padding-top: 0px;
    padding-bottom:0px ;
    background-color: #10571b;
}
.nav-item{
    padding-left: 50px;
    font-style: bold;
    font-family: 'Space Mono', monospace;
    color: rgb(204, 199, 199)
}


.navbar-brand{
    padding-left: 20px;
    font-family: 'Space Mono', monospace;
    
}

@media only screen and (min-width: 890px) {
  .navbar-brand {
    color: white; /* change color to your desired value */
  }
    .navbar-brand:hover{
        color: rgb(230, 231, 232);
    }
    .navsb{
        padding-left: 500px;
    }
    .navbar-nav .nav-link:not(.dropdown-toggle) {
       color: white;
      }
}

@media only screen and (max-width:890px){
  
  .navbar-brand {
    color: white;
    padding-left: 100px;
  }
    .navbar-collapse {
        position: fixed;
        top: 56px;
        left: -300px;
        width: 300px;
        height: 100%;
        z-index: 1;
        overflow-y: auto;
        transition: all 0.3s ease-in-out;
        background-color: #10571b;
      }
    .navbar-collapse.show {
      left: 0;
    }
    .navbar-nav {
      flex-direction: column;
    }
    .navbar-nav .nav-item {
      margin: 0;
      width: 100%;
    }
    .navbar-nav .nav-link:not(.dropdown-toggle) {
      padding: 30px;
      color: white;
      text-align: center;
      border-bottom: 1px solid #fff;
    }
   
}



/* Styling for navbar end */

/* styling of carousel start */
.carousel img {
  max-height: 500px;
}

.carousel-content  div{
  background-color: white;
  padding: 3rem;
}

.carousel-content {
  position: absolute;
  bottom: 15%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background-color: rgba(213, 218, 213, 0.4);
  padding: 3rem;
}
 .next{
  font-size: 40px;
  font-family: 'Volkhov', serif;
}
.Buy{
  font-size: 30px;
  font-family: 'Volkhov', serif;
}
.started{
  font-size:20px;
  font-family: 'Volkhov', serif;
}
.btn{
  font-family: 'Volkhov', serif;
  padding: 10px 37px;
  text-decoration: solid;
}

@media only screen and (max-width:890px){
 .carousel{
  margin-top: 50px;
 }

 .carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background-color: rgba(213, 218, 213, 0.4);
  padding: 1rem;
}
 .next{
  font-size: 20px;
  font-family: 'Volkhov', serif;
}
.Buy{
  font-size: 10px;
  font-family: 'Volkhov', serif;
}
.started{
  font-size:5px;
  font-family: 'Volkhov', serif;
}
.btn{
  font-family: 'Volkhov', serif;
  padding: 5px 27px;
  text-decoration: solid;
}

}

/* styling of carousel end */

/* styling of what new start */
  .bg{
    background-color: antiquewhite;
  }
  .new{
    font-family: 'Volkhov', serif;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    font-style: italic;
  }
  .card-img-top{
    height: 220px;
  }

  .cards-new{
    padding-bottom: 50px;
  }


@media only screen and (max-width:890px){
  .cards-new{
    padding: 50px;
  }
 }




/* styling of what new end */

/* styling starter start */
.img-starter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.bg1{
  background-color: rgb(251, 248, 243);
}

/* styling starter end */

/* testimonal carousel started */
.cont{
  padding-bottom: 100px;
}
.mt{
  padding-top: 50px;
}
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 70px;
  font-family: "Open Sans", sans-serif;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #10571b;
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel .carousel-item {
	color: #999;
	overflow: hidden;
	min-height: 120px;
	font-size: 13px;
  font-family: "Open Sans", sans-serif;
}
.carousel .media img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
  font-family: "Open Sans", sans-serif;
}
.carousel .testimonial {
	padding: 0 15px 0 60px ;
	position: relative;
}
.carousel .testimonial::before {
	content: "\201C";
	font-family: Arial,sans-serif;
	color: #e2e2e2;
	font-weight: bold;
	font-size: 68px;
	line-height: 54px;
	position: absolute;
	left: 15px;
	top: 0;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #10571b;
 
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 1px 3px;
	box-sizing: border-box;
}
.carousel-indicators li {	
	background: #e2e2e2;
	border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
	background: #10571b;    
	border: 5px double;    
}
.cl{
  padding-bottom: 30px;
}


/* testimonal carousel end */