@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
/* Styling for navbar start */
.navbar{
    padding-top: 0px;
    padding-bottom:0px ;
    background-color: #10571b;
}
.nav-item{
    padding-left: 50px;
    font-style: bold;
    font-family: 'Space Mono', monospace;
    color: rgb(204, 199, 199)
}


.navbar-brand{
    padding-left: 20px;
    font-family: 'Space Mono', monospace;
    
}

@media only screen and (min-width: 890px) {
  .navbar-brand {
    color: white; /* change color to your desired value */
  }
    .navbar-brand:hover{
        color: rgb(230, 231, 232);
    }
    .navsb{
        padding-left: 500px;
    }
    .navbar-nav .nav-link:not(.dropdown-toggle) {
       color: white;
      }
}

@media only screen and (max-width:890px){
  .navbar-brand {
    color: white;
    padding-left: 100px;
  }
    .navbar-collapse {
        position: fixed;
        top: 56px;
        left: -300px;
        width: 300px;
        height: 100%;
        z-index: 1;
        overflow-y: auto;
        transition: all 0.3s ease-in-out;
        background-color: #10571b;
      }
    .navbar-collapse.show {
      left: 0;
    }
    .navbar-nav {
      flex-direction: column;
    }
    .navbar-nav .nav-item {
      margin: 0;
      width: 100%;
    }
    .navbar-nav .nav-link:not(.dropdown-toggle) {
      padding: 30px;
      color: white;
      text-align: center;
      border-bottom: 1px solid #fff;
    }
   
}



/* Styling for navbar end */


/* search bar styling start */



       .height{
        height: 30vh;
       }
       

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid #10571b;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: #10571b;

       }
/* search bar styling end */

/* card styling start */

.details {
            border: 1.5px solid grey;
            color: #212121;
            width: 100%;
            height: auto;
            font-size: 12px;
            font-weight: 900;
            box-shadow: 0px 0px 10px #212121;
            margin-right: 9px;
            font-family: 'Space Mono', monospace;
        }
        .det{
            box-shadow: 0px 5px 10px  #212121;
            color: white;
            font-size: 12px;
            font-weight: 900;
            background-color: #10571b;
            font-family: 'Space Mono', monospace;
        }

        

        .card {
            width: fit-content;
            
        }

        .card-body {
            /* //width: fit-content; */
        }

        .btn {
            border-radius: 0;
        }

        .img-thumbnail {
            border: none;
        }

        .card {
            box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
            border-radius: 5px;
            padding-bottom: 10px;
        }

        .btn-flex{
            display: flex;
        }

        .space{
            padding-bottom: 60px;
        }

        

        
/* card  styling end */