meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
//  <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.css" /> 
link(rel="stylesheet", href="/css/AgricultureOffice/index.css")
link(rel="stylesheet", href="/css/AgricultureOffice/sale.css")
link(rel="stylesheet", href="/css/AgricultureOffice/include.css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(href="https://fonts.googleapis.com/css?family=Montserrat&display=swap", rel="stylesheet")
script(src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js")
link(rel="stylesheet", href="/css/upload.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css")
title U-Farm
div(w3-include-html="/includes/sidebaruf.html")
// Container Main start
.height-100.bg-light
  .bg-cover
    .table-responsive
      table.table.table-striped
        thead
          tr
            th Order ID
            th Buyer Name
            th Order Date
            th Total Price
            th Status
            th Action
        tbody
          tr
            td 001
            td John Doe
            td 2023-04-06
            td UGX 150.00
            td Pending
            td
              button.btn.btn-pry(type="button", onclick="acceptOrder()") Accept
              button.btn.btn-dag(type="button", onclick="rejectOrder()") Reject
              select.form-select(aria-label="Default select example", onchange="updateOrderStatus()")
                option(selected) Pending
                option(value="Accepted") Accepted
                option(value="Rejected") Rejected
                option(value="Delivered") Delivered
          tr
            td 002
            td Jane Smith
            td 2023-04-05
            td UGX 100.00
            td Accepted
            td
              button.btn.btn-pry.disabled(type="button") Accept
              button.btn.btn-dag.disabled(type="button") Reject
              select.form-select(aria-label="Default select example", onchange="updateOrderStatus()")
                option(value="Pending") Pending
                option(selected) Accepted
                option(value="Rejected") Rejected
                option(value="Delivered") Delivered
// Container Main end
script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/XvoEmcPbYJoKT0Z", crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
script(src="/js/AgricultureOffice/index.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="/css/bootstrap/js/bootstrap.bundle.min.js")
script(src="/js/includes.js")