.card1{
    margin-bottom: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    width: fit-content;
  }

  .plate{
    margin-right: 100px;
    margin-left: 90px;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  }
  
  .card-img-top {
    height: 150px;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
  }
  
  .card-body1 {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .card-text {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .list-group-item {
    font-size: 1.1rem;
    margin-right: 70px;
  }
  
  .card-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  
  .btn {
    margin-top: 10px;
    margin-left: 30px;
    padding: 10px 30px;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-pry {
    background-color: #10571b;
    color: #fff;
    border: none;
  }
  
  .btn-dag {
    background-color: #dc3545;
    color: #fff;
    border: none;
  }
  
  .btn:hover {
    opacity: 0.8;
    transform: scale(0.95);
  }

  .form-select{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
  }

 /* media query for small screen */
 @media only screen and (max-width: 760px) {
  .plate{
    margin-right: 10px;
    margin-left: 30px;
  }

  .btn {
    margin-top: 10px;
    margin-left: 10px;
  }
  .form-select{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
  }


 }







