<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/494d29de48.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="../css/service.css" />
    <title>U-Farm</title>
  </head>
  <body>
    <!-- Navbar start -->
    <div w3-include-html="../includes/navbar.html"></div>
    <!-- Navbar end -->

    <!-- Searchbar start -->
    <div class="container">
      <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
          <div class="search">
            <i class="fa fa-search"></i>
            <input
              type="text"
              class="form-control"
              placeholder="Search For Products"
            />
            <button class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Searchbar End -->
    <!-- Card start -->
    <div class="bg1">
      <div class="container">
        <div class="row">
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>

          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text"> UGX2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">UGX2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">UGX2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mx-auto col-md-3 col-lg-4 col-10 mt-5">
            <img
              class="mx-auto img-thumbnail"
              src="../images/African Maize.jpg"
              width="100px"
              height="20px"
            />
            <div class="card-body text-center mx-auto">
              <div class="cvp">
                <h5 class="card-title font-weight-bold">Sweet Maize</h5>
                <p class="card-text">$2</p>
                <div class="btn-flex">
                  <a href="#" class="btn details px-auto">AddCart</a>
                  <a href="#" class="btn det px-4">Chat</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Card end -->

    <div class="space"></div>
    <!--footer start  -->
    <div w3-include-html="../includes/footer.html"></div>
    <!--footer end  -->

    <script src="../js/includes.js"></script>
    <script src="../css/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
