doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  style 
    include ../../public/css/service.css
    include ../../public/css/bootstrap/css/bootstrap.css
    include ../../public/css/bootstrap/css/bootstrap.min.css
    include ../../public/css/bootstrap/css/bootstrap-grid.css
  script(src='https://kit.fontawesome.com/494d29de48.js' crossorigin='anonymous')
  
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  
 
  title U-Farm
// Navbar start
div(w3-include-html='../includes/navbar.html')
// Navbar end
// Searchbar start
.container
  .row.height.d-flex.justify-content-center.align-items-center
    .col-md-8
      .search
        i.fa.fa-search
        input.form-control(type='text' placeholder='Search For Products')
        button.btn.btn-primary Search
// Searchbar End
// Card start
.bg1
  .container
    .row
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text  UGX2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text UGX2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text UGX2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
      .card.mx-auto.col-md-3.col-lg-4.col-10.mt-5
        img.mx-auto.img-thumbnail(src='../images/African Maize.jpg' width='100px' height='20px')
        .card-body.text-center.mx-auto
          .cvp
            h5.card-title.font-weight-bold Sweet Maize
            p.card-text $2
            .btn-flex
              a.btn.details.px-auto(href='#') AddCart
              a.btn.det.px-4(href='#') Chat
// Card end
.space
// footer start
div(w3-include-html='../includes/footer.html')
// footer end
script(src='../js/includes.js')
script(src='../css/bootstrap/js/bootstrap.js')
