<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U-Farm</title>
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="../css/sigin.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
<body>
    <div class="bg1">
        <div class="bg2">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Sign In</h4>
                    <p class="text-center">Let Make Shopping Easier</p>
                    <form  id="regform" action="#" name="register" onsubmit="return validation()" method="POST">
                        
                        
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                         </div>
                        <input name="" class="form-control" placeholder="Email address" type="email" id="email">
                        <small id="emailErr"></small>
                    </div> 
        
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input class="form-control" placeholder="Create password" type="password" id="password">
                            <small id="passwordErr"></small>
                        </div> <!-- form-group// -->

                    <div class="form-group">
                        <button type="submit" class="btn btn-color btn-block"> Create Account  </button>
                    </div> <!-- form-group// -->      
                    <p class="text-center">Doesn't Have an account? <a href="../page/signUp.html" class="login">Register</a> </p>                                                                 
                </form>
                </article>  
        </div>
    </div>
    <script src="../js/sigin.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../css/bootstrap/js/bootstrap.js"></script>
</body>
</html>