<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>U-Farm</title>
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="../css/signup-consumer.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
<body>
    <div class="bg1">
        <div class="bg2">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Create Account</h4>
                    <p class="text-center">Let Make Shopping Easier</p>
                    <form  id="regform" action="#" name="register" onsubmit="return validation()" method="POST">
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                         </div>
                        <input name="" class="form-control" placeholder="Full name" type="text" id="fullName">
                        <small id="fnameErr"></small>
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                         </div>
                        <input name="" class="form-control" placeholder="Email address" type="email" id="email">
                        <small id="emailErr"></small>
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="">Gender</i> </span>
                         </div>&nbsp;&nbsp;&nbsp;
                         <label class="label2">
                            <input name="gender" class="gender" type="radio" value="male" id="gmale">
                            <span>Male</span>
                          </label>
                          <label>
                            <input name="gender" class="gender" type="radio" value="female" id="gfemale">
                            <span>Female</span>
                            <small id="gfemaleErr"></small>
                          </label>
                    </div> <!-- form-group// -->


                   
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                        </div>
                        <select class="custom-select" style="max-width: 120px;" id="country-code">
                            <option selected="">+256</option>
                            <option value="1">+254</option>
                            <option value="2">+255</option>
                            <option value="3">+234</option>
                        </select>
                        <input name="" class="form-control" placeholder="Phone number" type="text" id="phoneInput">
                        <small id="phonenumErr"></small>
                    </div> <!-- form-group// -->

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Create password" type="password" id="password">
                        <small id="passwordErr"></small>
                    </div> <!-- form-group// -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input class="form-control" placeholder="Repeat password" type="password" id="repassword">
                        <small id="repasswordErr"></small>
                    </div> <!-- form-group// -->                                      
                    <div class="form-group">
                        <button type="submit" class="btn btn-color btn-block"> Create Account  </button>
                    </div> <!-- form-group// -->      
                    <p class="text-center">Have an account? <a href="" class="login">Log In</a> </p>                                                                 
                </form>
                </article>  
        </div>
    </div>
     <script src="../js/signup-consumer.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../css/bootstrap/js/bootstrap.js"></script>
</body>
</html>