doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../css/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='../css/signUp.css')
  title U-Farm
.container
  .row.justify-content-center
    .col-md-6
      .card
        .signup SignUp
        .card-body.bdy
          button.bg1.bt
            a.label(href='/signupfarmer') Farmers
          button.bg1.bt1
            a.label(href='/signupconsumer') Consumer
        .account
          | Already have an Acount?
          a.login(href='/signin') Log In
script(src='../css/bootstrap/js/bootstrap.js')
