<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/signUp.css">
    <title>U-Farm</title>
</head>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 ">
        <div class="card">
          <div class="signup">SignUp</div>
          <div class="card-body bdy ">
           <button class="bg1 bt"><a href="../page/signup-farmer.html" class="label">Farmers</a></button>
           <button class="bg1 bt1"><a href="../page/signup-consumer.html" class="label">Consumer</a></button>
          </div>
          <div class="account"> Already have an Acount?<a href="../page/login.html" class="login">Log In</a></div>
        </div>
      </div>
    </div>
  </div>
    <script src="../css/bootstrap/js/bootstrap.js"></script> 
</body>
</html>